.page-forget {
    .form-forget {
        width: 480px;
        padding: 30px;
        margin: auto;
        background: $white;
        @include border-radius(4px);
        label {
            font-size: 12px;
            font-weight: bold;
        }
        .cntr {
            width: 100%;
            .checkbox-parts {
                &:before {
                    top: -2px;
                }
                &:after {
                    top: -5px;
                }
            }
        }
        .lost {
            font-size: 14px;
        }
        .fa {
            margin-right: 10px;
        }
        .button {
            font-family: $font-family;
            font-size: 15px;
        }
    }
}