$label: $studio;

.ui-accordion {
    .ui-accordion-header {
        outline: none;
        &.ui-state-active {
            color: $label;
            border: none;
        }
    }
    .ui-accordion-content {
        padding: 0;
    }
}

.acc {
    margin-bottom: 40px;
}

.acc-toggle {
    padding: 6px 20px 4px 35px;
    margin: 0 auto 40px;
    font-size: 16px;
    color: $studio;
    border: 1px solid $studio;
    background: transparent;
    @include border-radius(50px);
    cursor: pointer;
    position: relative;
    display: block;
    &:before {
        width: 30px;
        content: "+";
        font-size: 28px;
        line-height: 1;
        position: absolute;
        top: 2px;
        left: 5px;
        display: inline-block;
    }
    &.close {
        color: $white;
        background: $studio;
        &:before {
            content: "-";
        }
    }
    &:hover {
        @include opacity(0.8);
    }
    &:focus {
        outline: none;
    }
}