.block {
    height: 100%;
    min-height: 100%;
    //margin-bottom: 30px;
    background: $white;
    border: 1px solid $border;
    position: relative;
    .block-logo {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .block-thumbnail {
        .block-image {
            
        }
    }
    .block-meta {
        margin-bottom: 5px;
        font-size: 12px;
        .block-pref {
            float: right;
        }
    }
    .block-label {
        padding: 2px 5px;
        margin-right: 5px;
        border: 1px solid;
    }
    .block-content {
        padding: 10px;
    }
    .block-title {
        margin-bottom: 10px;
        color: $gray;
        span {
            margin-left: 10px;
        }
    }
    .block-footer {
        font-size: 12px;
        @include pie-clearfix;
        .block-date {
            float: right;
        }
    }
    .block-event-date {
        width: 45px;
        padding: 3px 0;
        font-size: 12px;
        line-height: 1.2;
        color: #fff;
        border: 1px solid #fff;
        position: absolute;
        top: 10px;
        right: 10px;
        .event-date {
            text-align: center;
            span {
                display: block;
                &.year,
                &.week {
                    font-size: 10px;
                }
            }
        }
    }
}

.block-category {
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
    position: absolute;
    top: 0;
    right: 0;
    a {
        padding: 5px;
        font-size: 12px;
        line-height: 1;
        display: block;
    }
    .instructor & {
        a {
            color: $white;
            background: $instructor;
        }
    }
}
.col-list {
    &:first-of-type {
        .list {
            border-top: 1px solid $border;
        }
    }
}

.list {
    width: 100%;
    padding: 15px;
    background: $white;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    border-bottom: 1px solid $border;
    display: table;
    &.free {
        padding: 15px;
        .list-content {
            padding-left: 0;
            padding-right: 0;
            vertical-align: middle;
            display: table-cell;
            .list-meta {
                margin-right: 20px;
                //display: inline;
            }
            .list-title {
                margin: 5px
            }
        }
    }
    .list-thumbnail {
        width: 30%;
        display: table-cell;
        .list-image {
            
        }
    }
    .list-content {
        padding-left: 20px;
        //padding-right: 15px;
        vertical-align: middle;
        display: table-cell;
        a {
            color: $gray;
        }
        .list-title {
            margin-bottom: 10px;
            font-size: 21px;
            display: inline-block;
        }
        .list-description {
            margin-bottom: 5px;
            p {
                margin-bottom: 0;
                font-size: 12px;
            }
        }
        .list-meta {
            margin-bottom: 10px;
            font-size: 14px;
            .list-label {
                padding: 2px 3px;
                margin-right: 10px;
                border: 1px solid $studio;
            }
            .list-date {
                font-size: 12px;
                color: $gray-light;
                float: right;
            }
            .fa {
                color: $studio;
                margin-left: 10px;
                margin-right: 5px;
            }
        }
        .list-gps {
            font-size: 12px;
            color: $gray-light;
            text-align: right;
            bold {
                font-size: 16px;
                color: $studio;
            }
        }
        .list-footer {
            text-align: right;
            .style-tag {
                font-size: 12px;
                .tag {
                    margin-bottom: 5px;
                    margin-left: 5px;
                    margin-right: 0;
                    background: $gray-light;
                    display: inline-block;
                }
            }
            .list-author {
                font-size: 12px;
                color: $gray-light;
            }
        }
    }
}

.instructor-block {
    height: 100%;
    min-height: 100%;
    background: $white;
    border: 1px solid $border;
    position: relative;
    display: grid;
    .block-thumbnail {
        
    }
    .block-content {
        padding: 10px;
        text-align: center;
    }
    .block-title {
        //margin-bottom: 10px;
        color: $gray;
        span {
            font-size: 12px;
            display: block;
        }
    }
}

.license-block {
    border: 1px solid $border;
    a {
        width: 100%;
        padding: 10px 0;
        color: $gray;
        display: table;
    }
    .block-thumbnail {
        width: 80px;
        text-align: center;
        border-right: 1px solid $border;
        vertical-align: middle;
        display: table-cell;
        .fa {
            font-size: 28px;
        }
    }
    .block-content {
        padding-left: 15px;
        vertical-align: middle;
        display: table-cell;
        .block-parent,
        .block-child {
            display: inline-block;
        }
        .block-parent {
            margin-right: 10px;
            font-weight: bold;
        }
        .block-title {

        }
        .block-date {
            //font-size: 12px;
        }
        .block-description {
            font-size: 12px;
            .license-shop-name {
                margin-right: 10px;
            }
        }
    }
}

.item-block {
    padding: 20px;
    background: $white;
    .item-thumbnail {
        margin-bottom: 20px;
    }
    .item-content {
        .item-title {
            font-weight: bold;
            color: $gray;
        }
        .item-description {
            font-size: 14px;
            color: $gray;
        }
    }
}

.col-search {
    &:first-of-type {
        .block-search {
            border-top: 1px solid $border;
        }
    }
}
.search-block {
    width: 100%;
    padding: 15px;
    background: $white;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    border-bottom: 1px solid $border;
    display: table;
    position: relative;
    &.free {
        padding: 15px;
        .block-content {
            padding-left: 0;
            padding-right: 0;
            vertical-align: middle;
            display: table-cell;
            .block-meta {
                margin-right: 20px;
                display: inline;
            }
            .block-title {
                margin: 5px
            }
        }
    }
    .block-thumbnail {
        width: 30%;
        display: table-cell;
        .instructor & {
            width: 15%;
        }
        .block-image {
            
        }
    }
    .block-content {
        padding-left: 20px;
        //padding-right: 15px;
        vertical-align: middle;
        display: table-cell;
        a {
            color: $gray;
        }
        .block-title {
            margin-bottom: 10px;
            font-size: 21px;
            display: inline-block;
        }
        .block-description {
            margin-bottom: 5px;
            p {
                margin-bottom: 0;
                font-size: 12px;
            }
        }
        .block-meta {
            margin-bottom: 10px;
            font-size: 14px;
            .block-label {
                padding: 2px 3px;
                margin-right: 10px;
            }
            .block-post {
                padding: 2px 3px;
                margin-right: 10px;
            }
            .block-date {
                font-size: 12px;
                color: $gray-light;
                float: right;
            }
            .fa {
                color: $studio;
                margin-left: 10px;
                margin-right: 5px;
            }
        }
        .block-footer {
            text-align: right;
            .style-tag {
                font-size: 12px;
                .tag {
                    margin-bottom: 5px;
                    margin-left: 5px;
                    margin-right: 0;
                    background: $gray-light;
                    display: inline-block;
                }
            }
            .block-author {
                font-size: 12px;
                color: $gray-light;
            }
        }
    }
}