.panel-search {
    width: 100%;
    padding: 0 15px 15px;
    //margin-left: 30px;
    margin-bottom: 40px;
    background: $white;
    border: 1px solid $border;
    @include border-radius(4px);
    @include pie-clearfix;
}

.panel-title {
    padding: 10px 20px;
    margin-left: -15px;
    margin-right: -15px;
    //margin-bottom: 20px;
    font-weight: bold;
    color: $white;
    background: $gray;
    @include border-radius(4px 4px 0 0);
}

.panel-label {
    width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}

.panel-ul {
    width: 100%;
    height: 285px;
    margin-top: 20px;
}
.panel-li {
    margin-bottom: 10px;
}

.ul-sort {
    margin-bottom: 10px;
    @include pie-clearfix;
    .li-sort {
        width: 33.33333%;
        border-top: 1px solid $border;
        border-right: 1px solid $border;
        border-bottom: 1px solid $border;
        float: left;
        &:first-child {
            border-left: 1px solid $border;
            @include border-radius(4px 0 0 4px);
        }
        &:last-child {
            @include border-radius(0 4px 4px 0);
        }
        label {
            padding: 8px;
            cursor: pointer;
            display: block;
            &:hover {
                @include opacity(0.85);
            }
            input {
                margin-right: 5px;
            }
        }
    }
}

.panel-checkbox {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}


.panel-area {
    padding: 0 15px 15px;
    border: 1px solid $border;
    @include border-radius(4px);
    @include pie-clearfix;
}

.event-result-box {
    width: 100%;
    margin-bottom: 20px;
    @include pie-clearfix;
    .tag {
        margin-left: 10px;
        margin-right: 0;
        margin-bottom: 0;
    }
}